<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="dividataEntities1" connectionString="metadata=res://*/Entities.EntityModel.csdl|res://*/Entities.EntityModel.ssdl|res://*/Entities.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dividata.mssql.somee.com;initial catalog=dividata;user id=kolcuserhat_SQLLogin_1;password=7gp66qrdms;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dividataEntities" connectionString="metadata=res://*/Entities.NWDataModel.csdl|res://*/Entities.NWDataModel.ssdl|res://*/Entities.NWDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dividata.mssql.somee.com;initial catalog=dividata;user id=kolcuserhat_SQLLogin_1;password=7gp66qrdms;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>